@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 12px;
  border: 2px solid rgba(128, 128, 128, 0.274);
  height: 50px;
  margin-top: 15px;
  margin-left: 150px;
  color: gray;
}
.navbar-logo-section img {
  width: auto;
  height: 40px;
}
.navbar-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.navbar-logo-section {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.navbar-logo-section a {
  font-weight: 500;
  margin-left: 30px;
  font-size: 1rem;
  padding: 8px 8px;
  color: rgba(245, 245, 245, 0.789);
  text-decoration: none;
}

.navbar-links li {
  list-style: none;
}
.navbar-links a {
  text-decoration: none;
  padding: 12px 12px;
  font-size: 0.9rem;
  transition: all 0.5s ease-in;
  font-size: 500;
}
.navbar-links a:hover {
  color: rgba(255, 255, 255, 0.778);
}

.navbar-links {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin-left: 200px;
}
.navbar-auths {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  padding: 12px 12px;
  margin-left: 150px;
}

.btn-1 {
  width: 90px;
  height: 30px;
  color: rgba(245, 245, 245, 0.827);
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.274);
  text-align: center;
  align-content: center;
  align-items: center;
  margin-right: 16px;
  transition: all 0.5s ease;
}
.btn-1:hover{
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.674);
}

.btn-2 {
  width: 120px;
  height: 30px;
  background-color: #114fee;
  text-align: center;
  align-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.763);
  border-radius: 6px;
  font-size: 0.9rem;
  margin-left: 4px;
}
.announcement-box {
  width:25%;
  height:25px;
  border-radius: 6px;
  border: 2px solid rgba(128, 128, 128, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-top: 50px;
}
.announcement-box p {
  font-size: 0.75rem;
  color: rgba(245, 245, 245, 0.789);
  font-weight: 500;
  
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
}
.hero-heading p {
  color: gray;
}
.hero-heading span {
  color: rgba(245, 245, 245, 0.789);
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-top: 25px;
}

.btn-1-hero {
  width: 160px;
  height: 40px;
  background-color: #114fee;
  text-align: center;
  align-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.763);
  border-radius: 6px;
  font-size: 1rem;
  margin-left: 4px;
  font-weight: 500;
}
.btn-2-hero {
  width: 160px;
  height: 40px;
  color: rgba(245, 245, 245, 0.827);
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.274);
  text-align: center;
  align-content: center;
  align-items: center;
  margin-right: 16px;
  transition: all 0.5s ease;
  margin-left: 40px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.btn-2-hero:hover {
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.674);
}
.hero-image img {
   border-radius: 42px;
   transition: all 0.8s ease;
}
.hero-image {
  border: 2px solid rgba(128, 128, 128, 0.204);
  border-radius: 42px;
}
.hero-image img:hover {
  transform: scale(1.1);
}
.workflow-heading {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.workflow-heading p {
  color: gray;
  font-weight: 500;
}
.workflow-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
  margin-top: 40px;
}
.workflow-card {
   width: 350px;
   height:400px;
   padding: 20px 20px;
   margin: 30px 30px;
   border: 1px solid rgba(128, 128, 128, 0.204);
   border-radius: 12px;
   transition: all 0.5s ease;
}
.workflow-card-tile {
  color: rgba(255, 255, 255, 0.808);
  font-size: 1.5rem;
  text-align: center;
  align-content: center;
  font-weight: 500;
  
}
.workflow-card-description {
  color: gray;
  font-size: 1rem;
  text-align: center;
  align-content: center;
  font-weight: 400;
}
.workflow-card:hover {
   transform: scale(1.1);
   border: 1px solid #114fee;
}

/*Testanomials*/
.testanomials {
  overflow: hidden;
}
.testanomial-card {
  border-radius: 12px;
  border: 2px solid rgba(128, 128, 128, 0.289);
  transition: all 0.6s ease;
  margin: 10px 10px;
}
.testanomial-text {
  color: gray;
  font-size: 0.9rem;
}
.testanomial-name {
  color: rgba(255, 255, 255, 0.799);

}
.testanomial-role {
  color: rgba(255, 255, 255, 0.799);
  
}
.testanomial-card:hover {
  border: 1px solid #114fee;
  transform: scale(1.1);
}
.footer-logo-section {
  display: flex;
  height : 50px ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -80px;
}
.footer-logo-section img {
  height : 50px ;
  width : 50px;
  margin-left: 10px;
}
.footer-logo-section a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.footer-moto {
  display: flex;
 
  flex-direction: column;

}
.footer-moto h1 {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.896);
  margin-top: -6px;
  margin-left: -14px;
  font-weight: 600;
}
.footer-moto p {
  font-size: 0.9rem;
  color: grey;
  margin-top: 10px;
  margin-left: -14px;
}
