@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"); */

* {
  padding: 0px;
  margin: 0px;
  color: white;
}

body {
  background-color: #00040f;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
}
.testanomial-icon{
  border: 1px solid gray;
}
.navbar {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 12px;
  border: 2px solid rgba(128, 128, 128, 0.274);
  height: 50px;
  margin-top: 15px;
  margin-left: 150px;
  color: gray;
}
.navbar-logo-section img {
  width: auto;
  height: 40px;
}
.navbar-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.navbar-logo-section {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.navbar-logo-section a {
  font-weight: 500;
  margin-left: 30px;
  font-size: 1rem;
  padding: 8px 8px;
  color: rgba(245, 245, 245, 0.789);
  text-decoration: none;
}

.navbar-links li {
  list-style: none;
}
.navbar-links a {
  text-decoration: none;
  padding: 12px 12px;
  font-size: 0.9rem;
  transition: all 0.5s ease-in;
  font-size: 500;
}
.navbar-links a:hover {
  color: rgba(255, 255, 255, 0.778);
}

.navbar-links {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin-left: 200px;
}
.navbar-auths {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  padding: 12px 12px;
  margin-left: 150px;
}

.btn-1 {
  width: 90px;
  height: 30px;
  color: rgba(245, 245, 245, 0.827);
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.274);
  text-align: center;
  align-content: center;
  align-items: center;
  margin-right: 16px;
  transition: all 0.5s ease;
}
.btn-1:hover{
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.674);
}

.btn-2 {
  width: 120px;
  height: 30px;
  background-color: #114fee;
  text-align: center;
  align-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.763);
  border-radius: 6px;
  font-size: 0.9rem;
  margin-left: 4px;
}
.announcement-box {
  width:25%;
  height:25px;
  border-radius: 6px;
  border: 2px solid rgba(128, 128, 128, 0.274);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  margin-top: 50px;
}
.announcement-box p {
  font-size: 0.75rem;
  color: rgba(245, 245, 245, 0.789);
  font-weight: 500;
  
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
}
.hero-heading p {
  color: gray;
}
.hero-heading span {
  color: rgba(245, 245, 245, 0.789);
}
.hero-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-top: 25px;
}

.btn-1-hero {
  width: 160px;
  height: 40px;
  background-color: #114fee;
  text-align: center;
  align-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.763);
  border-radius: 6px;
  font-size: 1rem;
  margin-left: 4px;
  font-weight: 500;
}
.btn-2-hero {
  width: 160px;
  height: 40px;
  color: rgba(245, 245, 245, 0.827);
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.274);
  text-align: center;
  align-content: center;
  align-items: center;
  margin-right: 16px;
  transition: all 0.5s ease;
  margin-left: 40px;
  font-weight: 500;
  transition: all 0.5s ease;
}
.btn-3-hero {
  width: 160px;
  height: 40px;
  color: rgba(245, 245, 245, 0.827);
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.274);
  text-align: center;
  align-content: center;
  align-items: center;
  transition: all 0.5s ease;
  font-weight: 500;

}
.btn-2-hero:hover {
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.674);
}
.btn-3-hero:hover {
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.674);
}
.hero-image img {
   border-radius: 42px;
   transition: all 0.8s ease;
}
.hero-image {
  border: 2px solid rgba(128, 128, 128, 0.204);
  border-radius: 42px;
}
.hero-image img:hover {
  transform: scale(1.1);
}
.workflow-heading {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.workflow-heading p {
  color: gray;
  font-weight: 500;
}
.workflow-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
  margin-top: 40px;
}
.workflow-card {
   width: 350px;
   height:400px;
   padding: 20px 20px;
   margin: 30px 30px;
   border: 1px solid rgba(128, 128, 128, 0.204);
   border-radius: 12px;
   transition: all 0.5s ease;
}
.workflow-card-tile {
  color: rgba(255, 255, 255, 0.808);
  font-size: 1.5rem;
  text-align: center;
  align-content: center;
  font-weight: 500;
  
}
.workflow-card-description {
  color: gray;
  font-size: 1rem;
  text-align: center;
  align-content: center;
  font-weight: 400;
}
.workflow-card:hover {
   transform: scale(1.1);
   border: 1px solid #114fee;
}

/*Testanomials*/
.testanomials {
  overflow: hidden;
}
.testanomial-card {
  border-radius: 12px;
  border: 2px solid rgba(128, 128, 128, 0.289);
  transition: all 0.6s ease;
  margin: 10px 10px;
}
.testanomial-text {
  color: gray;
  font-size: 0.9rem;
}
.testanomial-name {
  color: rgba(255, 255, 255, 0.799);

}
.testanomial-role {
  color: rgba(255, 255, 255, 0.799);
  
}
.testanomial-card:hover {
  border: 1px solid #114fee;
  transform: scale(1.1);
}
.footer-logo-section {
  display: flex;
  height : 50px ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: -80px;
}
.footer-logo-section img {
  height : 50px ;
  width : 50px;
  margin-left: 10px;
}
.footer-logo-section a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.footer-moto {
  display: flex;
 
  flex-direction: column;

}
.footer-moto h1 {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.896);
  margin-top: -6px;
  margin-left: -14px;
  font-weight: 600;
}
.footer-moto p {
  font-size: 0.9rem;
  color: grey;
  margin-top: 10px;
  margin-left: -14px;
}

/*Login Page  CSS */
.background-login {
  background: url('./assets/images/loginbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.form-login {
  background-color: rgba(0, 0, 0, 0.299);
  border-radius: 12px;
  border: 1px solid #114fee;
}
.register-background {
  background: url('./assets/images/loginbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

}

.register-login {
  background-color: rgba(0, 0, 0, 0.299);
  border-radius: 12px;
  border: 1px solid #114fee;

}
.form-border {
  border-radius: 4px;
}
.text-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-verify-box {
  display: flex;
  
  flex-direction: column;
}
.main-textarea {
  border-radius: 12px;
  background-color: black;
  width: 750px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: dashed ;
}
.verify-button {
  width : 200px;
  
}
.main-verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: 'Poppins';
}
.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 25px;
}
.main-result-box{
  border-radius: 12px;
  border: 1px solid #114fee;
  background-color: black;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins';
}
 

.main1  {
  height: 200px ;
  width : 350px;
  display: block;
  position: absolute;
  left: 50px;
  top: 120px;
  transform: rotate(-1deg);
}
.main2 {
  height: 250px ;
  width : 400px;
  display: block;
  position: absolute;
  right: 5px;
  top: 120px;
  transform: rotate(2deg);
}

.main3  {
  height: 200px ;
  width : 300px;
  display: block;
  position: absolute;
  left: 50px;
  top: 750px;
  transform: rotate(1deg);
}
.main4  {
  height: 200px ;
  width : 300px;
  display: block;
  position: absolute;
  right: 5px;
  top: 750px;
}
.messages{
  display: flex;
  flex-direction: column;
  padding: 0px 300px;
  padding-top: 30px;
}

.messages .userMsg{
  clear: both;
  background-color: #00040f;
  padding: 10px;
  border-radius: 30px;
  max-width: 60vw;
  align-self: flex-end;
  min-width: 20vw;
  border: 1px solid #c084fc;
  font-size: 0.9rem;
  margin-top: 10px;
}

.messages .responseMsg{
  clear: both;
  background-color: #00040f;
  padding: 10px;
  border-radius: 30px;
  max-width: 60vw;
  align-self: flex-start;
  min-width: 20vw;
  margin-top: 15px;
  border: 1px solid #c084fc;
  font-size: 0.8rem;
}
.chatbot-box {
  border: 1px solid #c084fc;
  
}
.news-container {
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}
.dropdown:hover {
  border: 1px solid #c084fc;
}
.dropdown-main:hover {
  border: 1px solid #c084fc;
}
.dropdown {
  margin-left: 530px;
  margin-top: 2.75rem;
  border: 2px solid gray;
}
.dropdown-main {
  margin-left: 530px;
}
.dropdown-menu {
  margin-left: 530px;
}
.news-area {

  padding: 10px 10px;
  margin: 7px 7px;
  width : 85%;

  border: 1px solid #c084fc;
  border-radius: 12px;
}
.main-news-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  
}
.news-1  {
  height: 250px ;
  width : 400px;
  display: block;
  position: absolute;
  left: 30px;
  top: 120px;
  transform: rotate(-1deg);
}
.news-2 {
  height: 250px ;
  width : 400px;
  display: block;
  position: absolute;
  right: 50px;
  top: 120px;
 
}
.new-chat {
  border: 1px solid #c084fc;
}
.chat-heading {
  border: 1px solid #c084fc;
}

/*newsapp*/


.searchBar{
display: flex;
align-items: center;
justify-content: center;
align-items: center;
gap: 11px;
background-color: #00040f;
}

.searchBar input {
  background-color: #00040f;
  border: 1px solid #c084fc;
  border-radius: 8px;
  padding: 8px 8px;
}
.cardContainer{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
margin-top: 25px;

}

.card{
width: 300px;
height: auto;

background-color: #00040f;
border-radius: 10px;
margin: 20px 20px;
border: 1px solid #c084fc;
}
.card img{
width: 100%;
height: 170px;

border-radius: 10px;
}
.card .title{
font-weight: 500;
font-size: 1rem;

}
.card .title:hover{
border-bottom: 1px solid black;
cursor: pointer;
}
.card .content{
padding: 9px;
}
.card button{
background-color: #00040f;
border: none;
cursor: pointer;
width: 80px;
height: 28px;
color: #c084fc;
font-size: 13px;
border-radius: 2px;
}
.categoryBtn{
display: flex;
justify-content: center;
gap: 11px;
}
.categoryBtn button{
gap: 11px;
width: 130px;
height: 33px;
background-color: rgb(255, 108, 108);
border: none;
outline: none;
font-size: 18px;
border-radius: 16px;
color: white;
cursor: pointer;
padding: 2px;
}


.head{
text-align: center;
font-weight: 600;
font-size: 26px;
}
.card-title {
  font-size: 1rem;
  padding: 10px 10px ;
}
.card-para {
  font-size: 0.8rem;
  margin-top: 6px;
}
.divider {
  width: 50%;
  border-radius: 10px;
  margin-top: 10px;
  border:  1px solid #fafafa4c;
}

/* faq styles */
/* src/FAQSection.css */

.faq-section {
  max-width: 900px;
  margin: 0 auto;
  color: #fff;
}

.faq-section h2 {
 
  margin-bottom: 20px;
}

.accordion-item {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-question h4 {
  font-size: 1.2em;
  margin: 0;
}

.accordion-answer {
  padding-top: 10px;
  color: #c084fc;
}

.accordion-question span {
  font-size: 1.5em;
  font-weight: normal;
  color: #c084fc;

}
.quiz-container {
  width: 60%;
  text-align: center;
  align-content: center;
  align-items: center;
}
.rewards-img {
  border-radius: 50%;
}